
*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
transition: all.2s linear;

}
html
{
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
body
{
    background: #f7f7f7;
    padding-left: 5px;
}
header
{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(185, 107, 18);
    width: 1400px;
    height: 50px;
    margin: 62px auto 0;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 1000;
    
}
header .navbar a
{
    font-size: 2rem;
    margin-left: 2rem;
    color: rgb(12, 10, 10);
    text-align: center;
    padding-left: 30px;
    
   
}
header .navbar a:hover
{
    color: white;
}
.picture
{
    
    padding-left: 75px;
}
.contain 
{
    background-color: rgb(223, 188, 215);
    font-size: 20px;
    text-align: center;
    height: 55px;
    padding-top: 10px;
}
